# Praktikum 3: Manipulasi Data Tabular dengan Pandas

<a href="https://colab.research.google.com/github/pakizhan-ump/ml-umpontianak/blob/main/Modules/Week-02/Praktikum-02/Praktikum_3_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ðŸŽ¯ Tujuan Praktikum
Mahasiswa mampu menggunakan library **Pandas** untuk memuat, membersihkan, memanipulasi, dan menganalisis data dalam bentuk tabel (DataFrame).

## ðŸ“– Dasar Teori
**Pandas** adalah library yang dibangun di atas NumPy, dirancang khusus untuk analisis dan manipulasi data terstruktur atau tabular. Dua struktur data utamanya adalah:
* **Series:** Sebuah array satu dimensi yang memiliki label (indeks). Ini bisa dianggap sebagai satu kolom dalam sebuah tabel.
* **DataFrame:** Struktur data dua dimensi seperti tabel pada spreadsheet atau database SQL. DataFrame terdiri dari baris dan kolom, di mana setiap kolomnya adalah sebuah Pandas Series.

Pandas sangat esensial untuk tahap *data cleaning*, *preprocessing*, dan *exploratory data analysis (EDA)* dalam alur kerja machine learning. Ia menyediakan fungsi-fungsi tingkat tinggi untuk membaca file (CSV, Excel), menangani data yang hilang (*missing values*), melakukan pengelompokan (*grouping*), dan seleksi data yang kompleks dengan mudah.

# ðŸ”§ OPERASI FUNDAMENTAL PANDAS

In [23]:
import pandas as pd
import numpy as np

# 1. DATAFRAME CREATION

In [24]:
print("=== DATAFRAME CREATION ===")
# From dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 70000, 55000],
    'Department': ['IT', 'HR', 'IT', 'Finance']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

=== DATAFRAME CREATION ===
DataFrame:
       Name  Age  Salary Department
0    Alice   25   50000         IT
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
3    David   28   55000    Finance

# 2. ACCESS & INDEXING

In [25]:
print("\n=== ACCESS & INDEXING ===")
print("Column 'Name':", df['Name'].tolist())
print("First row:\n", df.iloc[0])                    # By integer position
print("Rows 1-2:\n", df.iloc[1:3])
print("Filter Age > 28:\n", df[df['Age'] > 28])

=== ACCESS & INDEXING ===
Column 'Name': ['Alice', 'Bob', 'Charlie', 'David']
First row:
 Name          Alice
Age              25
Salary        50000
Department       IT
Name: 0, dtype: object
Rows 1-2:
       Name  Age  Salary Department
1      Bob   30   60000         HR
2  Charlie   35   70000         IT
Filter Age > 28:
       Name  Age  Salary Department
1      Bob   30   60000         HR
2  Charlie   35   70000         IT

# 3. ADD/REMOVE COLUMNS

In [26]:

print("\n=== ADD/REMOVE COLUMNS ===")
df['Experience'] = [2, 5, 8, 3]                     # Add new column
df['Senior'] = df['Age'] > 30                       # Conditional column
df = df.drop('Experience', axis=1)                  # Remove column
print("After modifications:\n", df)

=== ADD/REMOVE COLUMNS ===
After modifications:
       Name  Age  Salary Department  Senior
0    Alice   25   50000         IT   False
1      Bob   30   60000         HR   False
2  Charlie   35   70000         IT    True
3    David   28   55000    Finance   False

# 4. HANDLING MISSING VALUES

In [27]:
import pandas as pd
import numpy as np

print("\n=== MISSING VALUES ===")
# pastikan 'df' ada; contoh:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

df_with_na = df.copy()
df_with_na.loc[1, 'Salary'] = np.nan
df_with_na.loc[2, 'Age'] = np.nan

print("With missing values:\n", df_with_na)
print("Is null:\n", df_with_na.isnull())
print("Fill with mean:\n", df_with_na.fillna(df_with_na.mean(numeric_only=True)))

=== MISSING VALUES ===
With missing values:
       Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
Is null:
     Name    Age  Salary
0  False  False   False
1  False  False    True
2  False   True   False
Fill with mean:
       Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  60000.0
2  Charlie  27.5  70000.0

# 5. GROUPING & AGGREGATION

In [28]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Evan', 'Fiona'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'IT'],
    'Age': [25, 30, 35, 40, 29, 31],
    'Salary': [50000, 60000, 70000, 58000, 65000, 72000]
})

grouped = df.groupby('Department')

# rata-rata numerik per departemen
grouped_means = grouped.mean(numeric_only=True)

# deskripsi statistik untuk kolom Salary per departemen
salary_desc = grouped['Salary'].describe()

# contoh agregasi custom
agg_example = grouped.agg({'Salary': ['mean', 'median', 'count'], 'Age': 'mean'})

# 6. SORTING

In [29]:
print("\n=== SORTING ===")
df_sorted = df.sort_values('Salary', ascending=False)
print("Sorted by Salary:\n", df_sorted)

=== SORTING ===
Sorted by Salary:
       Name Department  Age  Salary
5    Fiona         IT   31   72000
2  Charlie         IT   35   70000
4     Evan    Finance   29   65000
1      Bob         IT   30   60000
3    Diana         HR   40   58000
0    Alice         HR   25   50000

# 7. MERGING & JOINING

In [30]:
print("\n=== MERGING ===")
df2 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Eve'],
    'Bonus': [5000, 3000, 4000]
})
merged = pd.merge(df, df2, on='Name', how='left')
print("Merged DataFrame:\n", merged)

=== MERGING ===
Merged DataFrame:
       Name Department  Age  Salary   Bonus
0    Alice         HR   25   50000  5000.0
1      Bob         IT   30   60000  3000.0
2  Charlie         IT   35   70000     NaN
3    Diana         HR   40   58000     NaN
4     Evan    Finance   29   65000     NaN
5    Fiona         IT   31   72000     NaN

# 8. PIVOT TABLES

In [31]:
print("\n=== PIVOT TABLES ===")
pivot = df.pivot_table(values='Salary', index='Department', aggfunc=['mean', 'count'])
print("Pivot table:\n", pivot)

=== PIVOT TABLES ===
Pivot table:
                     mean  count
                  Salary Salary
Department
Finance     65000.000000      1
HR          54000.000000      2
IT          67333.333333      3

# 9. DATETIME OPERATIONS

In [32]:

import pandas as pd
import numpy as np

print("\n=== DATETIME OPERATIONS ===")

# Contoh DataFrame awal
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Evan', 'Fiona'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'IT'],
    'Age': [25, 30, 35, 40, 29, 31],
    'Salary': [50000, 60000, 70000, 58000, 65000, 72000]
})

# Jumlah tanggal disesuaikan dengan jumlah baris DataFrame
dates = pd.date_range('2023-01-01', periods=len(df))

# Tambahkan kolom tanggal ke DataFrame
df_dates = df.copy()
df_dates['Join_Date'] = dates

# Operasi datetime: ambil tahun dari kolom tanggal
df_dates['Year'] = df_dates['Join_Date'].dt.year

print("With dates:\n", df_dates)

=== DATETIME OPERATIONS ===
With dates:
       Name Department  Age  Salary  Join_Date  Year
0    Alice         HR   25   50000 2023-01-01  2023
1      Bob         IT   30   60000 2023-01-02  2023
2  Charlie         IT   35   70000 2023-01-03  2023
3    Diana         HR   40   58000 2023-01-04  2023
4     Evan    Finance   29   65000 2023-01-05  2023
5    Fiona         IT   31   72000 2023-01-06  2023

# 10. STRING OPERATIONS

In [33]:
import pandas as pd

print("\n=== STRING OPERATIONS ===")

# Contoh DataFrame awal
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Evan', 'Fiona'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'IT'],
    'Age': [25, 30, 35, 40, 29, 31],
    'Salary': [50000, 60000, 70000, 58000, 65000, 72000]
})

# Pastikan kolom 'Name' bertipe string agar operasi .str bisa dilakukan
df['Name'] = df['Name'].astype(str)

# Operasi string
df['Name_Upper'] = df['Name'].str.upper()   # ubah huruf jadi kapital semua
df['Name_Length'] = df['Name'].str.len()    # hitung panjang nama

# Tampilkan hasil
print("String operations:\n", df[['Name', 'Name_Upper', 'Name_Length']])

=== STRING OPERATIONS ===
String operations:
       Name Name_Upper  Name_Length
0    Alice      ALICE            5
1      Bob        BOB            3
2  Charlie    CHARLIE            7
3    Diana      DIANA            5
4     Evan       EVAN            4
5    Fiona      FIONA            5

# ðŸ‹ï¸ LATIHAN 3: OPERASI PANDAS UNTUK DATA ANALYSIS
### EXPLORATORY DATA ANALYSIS ###

In [34]:
import numpy as np
import pandas as pd

# ==============================
# ðŸ›ï¸ Analisis Dataset Retail
# ==============================

# 1. Buat dataset contoh
np.random.seed(42)
dates = pd.date_range('2023-01-01', '2023-03-31', freq='D')

# Dataset retail acak
retail_data = pd.DataFrame({
    'date': np.random.choice(dates, 1000),
    'product_id': np.random.randint(1, 11, 1000),   # 10 jenis produk
    'quantity': np.random.randint(1, 10, 1000),     # kuantitas antara 1â€“9
    'price': np.random.uniform(10, 100, 1000),      # harga antara 10â€“100
    'customer_id': np.random.randint(1, 101, 1000)  # 100 pelanggan
})

# Tambahkan kolom revenue
retail_data['revenue'] = retail_data['quantity'] * retail_data['price']

# ==============================
# 2. Total revenue per product
# ==============================
revenue_per_product = (
    retail_data.groupby('product_id')['revenue']
    .sum()
    .reset_index()
    .sort_values(by='revenue', ascending=False)
)

# ==============================
# 3. Top 5 customers by spending
# ==============================
top_customers = (
    retail_data.groupby('customer_id')['revenue']
    .sum()
    .sort_values(ascending=False)
    .head(5)
    .reset_index()
)

# ==============================
# 4. Analisis time series - revenue per hari
# ==============================
daily_revenue = (
    retail_data.groupby('date')['revenue']
    .sum()
    .reset_index()
    .sort_values(by='date')
)

# ==============================
# 5. Fungsi untuk mendeteksi anomali pada quantity
# ==============================
def detect_quantity_anomalies(df, threshold=2):
    q_mean = df['quantity'].mean()
    q_std = df['quantity'].std()
    z_scores = (df['quantity'] - q_mean) / q_std
    anomalies = df[np.abs(z_scores) > threshold]
    return anomalies

anomalies = detect_quantity_anomalies(retail_data)

# ==============================
# 6. Validasi & Output
# ==============================
assert len(revenue_per_product) <= 10, "Harus maksimal 10 produk"
assert len(top_customers) == 5, "Harus ada 5 pelanggan teratas"

print("âœ… Pandas operations completed successfully!\n")

print("=== Total Revenue per Product ===")
print(revenue_per_product.head())

print("\n=== Top 5 Customers by Spending ===")
print(top_customers)

print("\n=== Daily Revenue (first 5 days) ===")
print(daily_revenue.head())

print("\n=== Detected Quantity Anomalies (if any) ===")
print(anomalies.head())

âœ… Pandas operations completed successfully!

=== Total Revenue per Product ===
   product_id       revenue
7           8  32062.915807
8           9  30812.566464
6           7  30786.212454
4           5  29894.628309
5           6  29771.241361

=== Top 5 Customers by Spending ===
   customer_id      revenue
0           38  5239.536260
1           59  5185.221233
2           89  4759.149270
3           94  4690.528278
4           15  4657.289888

=== Daily Revenue (first 5 days) ===
        date      revenue
0 2023-01-01  5268.121555
1 2023-01-02  4656.102661
2 2023-01-03  3226.578585
3 2023-01-04  2462.071219
4 2023-01-05  3741.645829

=== Detected Quantity Anomalies (if any) ===
Empty DataFrame
Columns: [date, product_id, quantity, price, customer_id, revenue]
Index: []